body{
    width: 100%;
    height: 100%;
    margin: 0;
   }
a{
    text-decoration: none;
    background-color: transparent;
    color:#ededed;
   }
.header {
    background-color:#000;
    color:#fff;
    border-color: #080808;
    min-height: 50px;
    border: 1px solid transparent;
}
.inner-header{
    width:100%;
    margin:auto;
}
.logo{
    float: left;
    height: 50px;
    padding-left: 10px;
    padding-top: 5px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}
.header-link {
    float:right;
    font-size:14px;
    height: 50px;
    padding: 15px 15px;
    font-size:16px;
    font-weight: bold
}
.button{
    background-color: black;
    text-align: center;
    color: #fff
}
.content{
    min-height: 600px;
}
.banner-image{
    padding-bottom: 50px;
    margin-bottom: 20px;
    text-align: center;
    color: #f8f8f8;
    background: url(intro-1.jpg) no-repeat center;
    background-size: cover;
}
.inner-banner-image{
    padding-top: 12%;
    width:80%;
    margin:auto; 
}
.banner_content{
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    overflow:hidden;
    margin-bottom: 12%;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 660px;
    align-content: center;
}
.container{
    width:90%;
    margin:auto;
    overflow:hidden;   
}
.button-video{
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 6px;
}
.items{
    width:30%;
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    float: left;
    margin-left:1%;
}
.items-big{

    display: block;
    padding: 4px;
    margin-bottom: 20px;

    background-color: #fff;
    border: 1px solid #ddd;
    float: center;
    border-radius: 4px;
    margin-left:1%;
}
.thumbnail{
    display: block;
    max-width: 100%;
    height: auto;
}
.thumbnail-big{
    display: block;
    max-width: 100%;
    height: auto;
    align-items: center;
}
.big-image{
    align-self: center;
}
.caption{
    display: block;
   max-width: 100%;
   height: auto;
}
.caption-big{
    display: block;
   max-width: 100%;
   height: auto;
   text-align: center;
}
footer{
    background-color: #000;
    color:#fff;
    font-size:14px;
    text-align: center;
}
@keyframes slideOutUp {
    from {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    to {
      visibility: hidden;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  }
  .animate__slideOutUp {
    -webkit-animation-name: slideOutUp;
    animation-name: slideOutUp;
  }